<h1>Create Hero</h1>

{{!-- Action for this case would be redundant --}}
<form method="POST" action="/hero/create">
  <label for="hero-name-input">Hero Name</label>
  <input id="hero-name-input" type="text" name="name" placeholder="Hero Name" />
  <label for="hero-superpower-input">Hero Superpower</label>
  <input id="hero-superpower-input" type="text" name="superpower" placeholder="Superpower" />
  <button>Create Superhero</button>
</form>