<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav>
    <a href="/">Home</a>
    {{#if user}}
    {{!-- Should only show up if user is authenticated --}}
    <a href="/private">Private</a>

    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>

    {{else}}
    {{!-- Should only show up if no user is authenticated --}}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {{/if}}
  </nav>
  {{{body}}}
</body>

</html>